In [1]:
import pandas as pd
import pickle

In [9]:
header = ["Count","Index","Name","Prefix","Date Joined","Date of Last Deposit","Date of Last Query"]

table = pd.read_csv('count_output.csv', names=header)
table.sort_values(by=["Count"], ascending=False)

,Count,Index,Name,Prefix,Date Joined,Date of Last Deposit,Date of Last Query
1,9296486,1561,Elsevier,10.1016,"Jul 01, 2000","Mar 11, 2016","Mar 04, 2016"
7,2621957,5237,Springer-Verlag,10.1007,"Jul 01, 2000","Mar 11, 2016","Mar 11, 2016"
8,2621957,5239,Springer-Verlag,10.1007,"Jul 01, 2000","Mar 11, 2016","Mar 11, 2016"
3,2138064,2346,Institute of Electrical and Electronics Engineers,10.1109,"Jul 01, 2000","Mar 10, 2016","Oct 27, 2015"
0,1871934,189,American Chemical Society,10.1021,"Jul 01, 2000","Mar 11, 2016","Mar 10, 2016"
12,1367250,6758,Wiley Blackwell (John Wiley & Sons),10.1002,"Jul 01, 2000","Mar 11, 2016","Mar 04, 2016"
4,1121881,4159,Nature Publishing Group,10.1038,"Jul 01, 2000","Mar 11, 2016","Oct 05, 2015"
5,1121881,4161,Nature Publishing Group,10.1038,"Jul 01, 2000","Mar 11, 2016","Oct 05, 2015"
9,927239,6119,The Royal Society of Chemistry,10.1039,"Jun 01, 2001","Mar 10, 2016","Feb 22, 2016"
2,906221,2254,Informa UK (Taylor & Francis),10.1080,"Jul 01, 2000","Mar 11, 2016","Mar 11, 2016"
10,814996,6748,Wiley Blackwell (Blackwell Publishing),10.1111,"Jul 01, 2000","Mar 11, 2016","Mar 03, 2016"
11,814996,6750,Wiley Blackwell (Blackwell Publishing),10.1111,"Jul 01, 2000","Mar 11, 2016","Mar 03, 2016"
6,377267,4838,SAGE Publications,10.1177,"Aug 01, 2001","Mar 11, 2016","Sep 14, 2015"